<% provide(:title, @user.fullname) %>
<div class="row">
  <div class="col-md-3">
    <%= show_image(@user.admin? ? :admin : :user, @user.avatar.url,
        alt: @user.fullname, class: "user-avatar-home") %>
    <div> <b>Username: </b> <%= @user.username %> </div>
    <div> <b>Email: </b> <%= @user.email %> </div>
    <div> <b>Name: </b> <%= @user.name %> </div>
    <div> <b>Learned: </b> <%= @user.learned_words.count %> words</div>
    <div id="follow_form">
      <% if current_user.id != @user.id %>
        <% if current_user.following? @user %>
          <%= render 'users/unfollow' %>
        <% else %>
          <%= render 'users/follow' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="seperator-side col-md-8">
    <div class="row col-md-offset-1">
      <h3>Activities</h3>
      <% @user.following_activities.each do |activity| %>
        <%= render 'shared/activity', activity: activity %>
      <% end %>
    </div>
  </div>
</div>