<% provide(:title, 'All words') %>

<%= form_tag({controller: :words, action: :index},
                 method: :get, id: "word_filter") do %>
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= label_tag :sort, "Sort by word:" %>
      <%= select_tag(:sort, options_for_select([["a -> z", :asc], ["z -> a", :desc]],
                                                params[:sort]), prompt: "-- sort --") %>

    </div>
    <div class="col-md-2">
      <%= label_tag :category_id, "Category:" %>
      <%= select_tag(:category_id, options_for_select(Category.all.collect {|c| [c.name, c.id]}, 
                                      params[:category_id]), prompt: "-- all categories --") %>
    </div>
    <div class="col-md-4" style="margin-top: 25px">
      <% {"learned" => 1, "not learned" => -1, "all" => 0}.each do |name, id| %>
        <label class="label-radio">
          <%= radio_button_tag(:word_type, id, 
                  id == params[:word_type].to_i || params[:word_type].nil?) %>
          <span><%= name %></span>
        </label>
      <% end %>
      <%= submit_tag "Filter", class: "btn btn-default" %>
    </div>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Word</th>
      <th>Meaning</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <%= render @words %> 
  </tbody>
</table>
<%= paginate @words %>
