<% provide(:title, 'Edit category') %>
<h1>Edit category</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([:admin, @category], html: {multipart: true}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, size: '50x5', class: 'form-control' %>

      <%= f.label :avatar %>
      <td><%= show_image(:category, @category.avatar.url, alt: @category.name,
              style: "display: block; max-width: 100%", id: "box_show_img") %></td>
      <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %>

      <%= f.submit "Update category", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

