<div class="row" style="margin-top:50px">
  <div class="col-md-offset-1 col-md-5">
    <% if parity % 2 == 1 %>
      <h3 class="category-name">
        <%= category.name %>
      </h3>
      <p class='category-description'><%= category.description %></p>
      <%= link_to "Start", categories_path, class: "btn btn-primary start-lesson" %>
    <% else %> 
      <%= show_image(:category, category.avatar.url, alt: category.name,
          class: "category-avatar-home") %>
    <% end %> 
  </div>
  <div class="col-md-5">
    <% if parity % 2 == 0 %>
      <h3 class="category-name">
        <%= category.name %>
      </h3>
      <p class='category-description'><%= category.description %></p>
      <%= link_to "Start", categories_path, class: "btn btn-primary start-lesson" %>
    <% else %> 
      <%= show_image(:category, category.avatar.url, alt: category.name,
          class: "category-avatar-home") %>
    <% end %> 
  </div>
</div>